<div class="submit-form">
    <table>
        <tr>
            <td>
                <lable>分类名称：</lable>
            </td>
            <td><input name="id" type="hidden">
                <input name="name" class="easyui-textbox" data-options="required:true"></td>
        </tr>
        <tr>
            <td>
                <lable>排序：</lable>
            </td>
            <td><input name="sort" class="easyui-numberbox" data-options="required:false"></td>
        </tr>
        <tr>
            <td>
                <lable>备注：</lable>
            </td>
            <td><input name="remark" class="easyui-textbox" style="height:50px;"
                       data-options="required:false,multiline:true"></td>
        </tr>

    </table>
</div>