<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="./common/base"></div>
</head>
<body>

<div class="easyui-layout" data-options="fit:true">
    <div data-options="region:'west',split:true" style="width:40%">

        <div id="dictionaryCategoryToolbar">
            <a th:if="${#authorization.expression('hasRole('''+ SYSTEM_ADMIN +''') OR hasAuthority(''/COMPONENT/SYSTEM/DICTIONARY/PAGE_ALL/DICTIONARY_CATEGORY_ADD_DIALOG'')')}"
               href="javascript:" class="easyui-linkbutton" iconCls="fa fa-plus" plain="true"
               onclick="dictionaryCategoryAddDialog();">新增</a>

            <a th:if="${#authorization.expression('hasRole('''+ SYSTEM_ADMIN +''') OR hasAuthority(''/COMPONENT/SYSTEM/DICTIONARY/PAGE_ALL/DICTIONARY_CATEGORY_EDIT_DIALOG'')')}"
               href="javascript:" class="easyui-linkbutton" iconCls="fa fa-edit" plain="true"
               onclick="dictionaryCategoryEditDialog();">编辑</a>

            <a th:if="${#authorization.expression('hasRole('''+ SYSTEM_ADMIN +''') OR hasAuthority(''/COMPONENT/SYSTEM/DICTIONARY/PAGE_ALL/DICTIONARY_CATEGORY_DELETE_ALL'')')}"
               href="javascript:" class="easyui-linkbutton" iconCls="fa fa-close" plain="true"
               onclick="dictionaryCategoryDeleteAll();">删除</a>
        </div>

        <table id="dictionaryCategory"></table>

    </div>

    <div data-options="region:'center',split:true">
        <div id="dictionaryToolbar">
            <a th:if="${#authorization.expression('hasRole('''+ SYSTEM_ADMIN +''') OR hasAuthority(''/COMPONENT/SYSTEM/DICTIONARY/PAGE_ALL/DICTIONARY_ADD_DIALOG'')')}"
               href="javascript:" class="easyui-linkbutton" iconCls="fa fa-plus" plain="true"
               onclick="dictionaryAddDialog();">新增</a>

            <a th:if="${#authorization.expression('hasRole('''+ SYSTEM_ADMIN +''') OR hasAuthority(''/COMPONENT/SYSTEM/DICTIONARY/PAGE_ALL/DICTIONARY_COPY_ADD_DIALOG'')')}"
               href="javascript:" class="easyui-linkbutton" iconCls="fa fa-edit" plain="true"
               onclick="dictionaryCopyAddDialog();">复制新增</a>

            <a th:if="${#authorization.expression('hasRole('''+ SYSTEM_ADMIN +''') OR hasAuthority(''/COMPONENT/SYSTEM/DICTIONARY/PAGE_ALL/DICTIONARY_EDIT_DIALOG'')')}"
               href="javascript:" class="easyui-linkbutton" iconCls="fa fa-edit" plain="true"
               onclick="dictionaryEditDialog();">编辑</a>

            <a th:if="${#authorization.expression('hasRole('''+ SYSTEM_ADMIN +''') OR hasAuthority(''/COMPONENT/SYSTEM/DICTIONARY/PAGE_ALL/DICTIONARY_DELETE_ALL'')')}"
               href="javascript:" class="easyui-linkbutton" iconCls="fa fa-close" plain="true"
               onclick="dictionaryDeleteAll();">删除</a>

        </div>
        <table id="dictionary"></table>
    </div>
</div>


<script type="text/javascript">


    $(function () {

        var columns = [
            {field: 'checkbox', checkbox: true},
            {field: 'id', title: 'ID'},
            {field: 'name', title: '分类名称'},
            {field: 'sort', title: '排序'},
            {field: 'remark', title: '备注'},
            {field: 'gmtModified', title: '更新时间'},
            {field: 'gmtCreated', title: '创建时间'}
        ];
        $('#dictionaryCategory').treegrid(expressui.grid.create, {
            title: '字典分类',
            url: Api.System.DICTIONARY_CATEGORY + '/page_all_parent',
            expandUrl: Api.System.DICTIONARY_CATEGORY + '/list_all_by_parent_id/{id}',
            columns: [columns],
            onCheck: function (row) {
                if (row) {
                    $('#dictionary').datagrid('reload', Api.System.DICTIONARY + '/page_all_by_dictionary_category_id/' + row.id);
                }
            },
            onUncheck: function (index, row) {
                $('#dictionary').datagrid('loadData', []);
            }
        });

        var IS_OR_NOT = [];
        expressui.ajax({
            url: Api.System.DICTIONARY + '/list_all_by_key/IS_OR_NOT',
            async: false,
            success: function (data) {
                if (data) {
                    IS_OR_NOT = data;
                }
            }
        });

        columns = [
            {field: 'checkbox', checkbox: true},
            {field: 'id', title: 'ID'},
            {field: 'key', title: '字典键'},
            {field: 'keyName', title: '字典键名'},
            {field: 'valueName', title: '字典值名'},
            {field: 'valueSlug', title: '字典值别名'},
            {field: 'value', title: '字典值'},
            {
                field: 'editable', title: '是否可编辑', formatter: function (value, row, index) {
                    return expressui.grid.formatter(value, IS_OR_NOT);
                }
            },
            {field: 'sort', title: '排序'},
            {field: 'remark', title: '备注'},
            {field: 'gmtModified', title: '更新时间'},
            {field: 'gmtCreated', title: '创建时间'}
        ];
        $('#dictionary').datagrid(expressui.grid.create, {
            title: '数据字典',
            columns: [columns]
        });

    });

    function dictionaryCategoryAddDialog() {

        var one = $('#dictionaryCategory').treegrid(expressui.grid.getCheckedOneOrMoreShowAlert);

        if (!one) {
            return;
        }

        $('#dictionaryCategoryAddDialog').dialog(expressui.dialog.create, {
            title: '新增字典分类',
            grid: {type: 'treegrid', selector: '#dictionaryCategory'},
            href: Page.System.DICTIONARY_CATEGORY + '/add_dialog',
            save: {
                url: Api.System.DICTIONARY_CATEGORY + '/add_one',
                data: one ? {parentId: one.id} : {},
                method: 'post'
            },
            buttons: [{
                text: '保存',
                iconCls: 'fa fa-save',
                handler: expressui.dialog.add,
                reload: [{type: 'treegrid', selector: '#dictionaryCategory'}, {
                    type: 'datagrid',
                    selector: '#dictionary',
                    data: []
                }],
                success: '新增成功'
            }, {
                text: '关闭',
                iconCls: 'fa fa-close',
                handler: expressui.dialog.close
            }]
        });
    }

    function dictionaryCategoryEditDialog() {

        var one = $('#dictionaryCategory').treegrid(expressui.grid.getCheckedOneShowAlert);
        if (!one) {
            return;
        }
        $('#dictionaryCategoryEditDialog').dialog(expressui.dialog.create, {
            title: '编辑字典分类',
            grid: {type: 'treegrid', selector: '#dictionaryCategory'},
            href: Page.System.DICTIONARY_CATEGORY + '/edit_dialog',
            get: {url: Api.System.DICTIONARY_CATEGORY + '/one/{id}', method: 'get'},
            save: {url: Api.System.DICTIONARY_CATEGORY + '/save_one', method: 'post'},
            buttons: [{
                text: '保存',
                iconCls: 'fa fa-save',
                handler: expressui.dialog.save,
                reload: [{type: 'treegrid', selector: '#dictionaryCategory'}, {
                    type: 'datagrid',
                    selector: '#dictionary',
                    data: []
                }],
                success: '保存成功'
            }, {
                text: '关闭',
                iconCls: 'fa fa-close',
                handler: expressui.dialog.close
            }]
        });
    }

    function dictionaryCategoryDeleteAll() {
        $('#dictionaryCategory').treegrid(expressui.grid.deleteRows, {
            url: Api.System.DICTIONARY_CATEGORY + '/delete_all',
            method: 'post',
            success: '删除成功',
            reload: [{type: 'treegrid', selector: '#dictionaryCategory'}, {
                type: 'datagrid',
                selector: '#dictionary',
                data: []
            }]
        });
    }

    function dictionaryAddDialog() {
        var one = $('#dictionaryCategory').treegrid(expressui.grid.getCheckedOneShowAlert);

        if (!one) {
            return;
        }

        $('#dictionaryAddDialog').dialog(expressui.dialog.create, {
            title: '新增字典',
            grid: {type: 'treegrid', selector: '#dictionaryCategory'},
            href: Page.System.DICTIONARY + '/add_dialog',
            save: {
                url: Api.System.DICTIONARY + '/add_one',
                data: {dictionaryCategoryId: '{id}'},
                method: 'post'
            },
            buttons: [{
                text: '保存',
                iconCls: 'fa fa-save',
                handler: expressui.dialog.add,
                reload: [{type: 'datagrid', selector: '#dictionary'}],
                success: '新增成功'
            }, {
                text: '关闭',
                iconCls: 'fa fa-close',
                handler: expressui.dialog.close
            }]
        });
    }

    function dictionaryCopyAddDialog() {

        var dictionaryCategory = $('#dictionaryCategory').datagrid(expressui.grid.getCheckedOneShowAlert);
        if (!dictionaryCategory) {
            return;
        }

        $('#dictionaryCopyAddDialog').dialog(expressui.dialog.create, {
            title: '复制新增字典',
            grid: {type: 'datagrid', selector: '#dictionary'},
            href: Page.System.DICTIONARY + '/add_dialog',
            get: {url: Api.System.DICTIONARY + '/one/{id}', method: 'get'},
            save: {
                url: Api.System.DICTIONARY + '/add_one',
                method: 'post',
                data: {dictionaryCategoryId: dictionaryCategory.id}
            },
            buttons: [{
                text: '复制新增',
                iconCls: 'fa fa-save',
                handler: expressui.dialog.save,
                reload: [{type: 'datagrid', selector: '#dictionary'}],
                success: '新增成功'
            }, {
                text: '关闭',
                iconCls: 'fa fa-close',
                handler: expressui.dialog.close
            }]
        });
    }

    function dictionaryEditDialog() {

        var one = $('#dictionary').datagrid(expressui.grid.getCheckedOneShowAlert);
        if (!one) {
            return;
        }
        $('#dictionaryEditDialog').dialog(expressui.dialog.create, {
            title: '编辑字典',
            grid: {type: 'datagrid', selector: '#dictionary'},
            href: Page.System.DICTIONARY + '/edit_dialog',
            get: {url: Api.System.DICTIONARY + '/one/{id}', method: 'get'},
            save: {url: Api.System.DICTIONARY + '/save_one', method: 'post'},
            buttons: [{
                text: '保存',
                iconCls: 'fa fa-save',
                handler: expressui.dialog.save,
                reload: [{type: 'datagrid', selector: '#dictionary'}],
                success: '保存成功'
            }, {
                text: '关闭',
                iconCls: 'fa fa-close',
                handler: expressui.dialog.close
            }]
        });
    }

    function dictionaryDeleteAll() {
        $('#dictionary').datagrid(expressui.grid.deleteRows, {
            url: Api.System.DICTIONARY + '/delete_all',
            method: 'post',
            success: '删除成功',
            reload: {type: 'datagrid', selector: '#dictionary'}
        });
    }

</script>
</body>
</html>