<div class="submit-form">
    <table>
        <tr>
            <td>
                <lable>菜单名称：</lable>
            </td>
            <td><input name="name" id="name" class="easyui-combobox"></td>
        </tr>
        <tr>
            <td>
                <lable>图标（icon）：</lable>
            </td>
            <td><input name="icon" id="icon" class="easyui-textbox" data-options="required:false"></td>
        </tr>
        <tr>
            <td>
                <lable>请求地址（url）：</lable>
            </td>
            <td><input name="url" id="url" class="easyui-textbox" style="height:50px;"
                       data-options="required:true,multiline:true"></td>
        </tr>
        <tr>
            <td>
                <lable>排序：</lable>
            </td>
            <td><input name="sort" id="sort" value="0" class="easyui-numberbox" data-options="required:false"></td>
        </tr>
        <tr>
            <td>
                <lable>备注：</lable>
            </td>
            <td><input name="remark" id="remark" class="easyui-textbox" style="height:50px;"
                       data-options="required:false,multiline:true"></td>
        </tr>
    </table>
</div>

<script>

    (function () {
        $('#name').combobox({
            prompt: '输入关键字搜索',
            required: true,
            editable: true,
            hasDownArrow: false,
            mode: 'remote',
            valueField: 'name',
            url: Api.User.VIEW_MENU + '/search_all_by_name',
            onBeforeLoad: function (param) {
                if (param && param.q) {
                    var value = param.q.replace('/ /g', '');
                    if (value !== '') {
                        return true;
                    }
                }
                return false;
            },
            onSelect: function (row) {
                if (row) {
                    $('#icon').textbox('setValue', row.icon);
                    $('#url').textbox('setValue', row.url);
                    $('#sort').numberbox('setValue', row.sort);
                    $('#remark').textbox('setValue', row.remark);
                }
            }
        });
    })();

</script>
