<div class="submit-form">
    <table>
        <tr>
            <td>
                <lable>角色名称：</lable>
            </td>
            <td><input name="name" class="easyui-textbox" data-options="required:true"></td>
        </tr>
        <tr>
            <td>
                <lable>角色值：</lable>
            </td>
            <td><input name="value" class="easyui-textbox" data-options="required:true"></td>
        </tr>
        <tr>
            <td>
                <lable>备注：</lable>
            </td>
            <td><input name="remark" class="easyui-textbox" style="height:50px;"
                       data-options="required:false,multiline:true"></td>
        </tr>
    </table>
</div>
